/* место для вашего кода */

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway;
  box-sizing: border-box;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__links-list-item_no-bullit .header__link {
  border-bottom: none;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.address {
  justify-self: end;
  line-height: 25px;
  max-width: 240px;
  font-style: normal;
}

.address a {
  display: block;
  text-decoration: none;
}

.address a span {
  border-bottom: 1px solid currentColor;
}

.address p {
  margin: 0;
}

/* Section: Cover */
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.overlay {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 60%;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 135px;
  position: relative;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-left: 330.5px;
}

.aligned-text_right {
  margin-left: 620px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
  min-width: 256px;
  text-align: center;
}

/* Section: Lots */
.lots {
  padding: 180px 25px 120px 25px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 891px 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.lots__card-list-item {
  width: 333px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
  z-index: 2;
}

.card {
  height: 100%;
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline solid;
  z-index: 2;
  text-wrap: none;
  letter-spacing: 0;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 2;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* Section: About */
.about {
  display: grid;
  grid-template-columns: 333px 1fr;
  gap: 55px;
  padding: 35px 50px 100px 0;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about__logo-circle {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-top: 0;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__column:last-child {
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 72px 0;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  word-break: normal;
  hyphens: none;
  min-width: 695px;
}

.about__text p:first-child {
  margin: 100px 0 24px 0;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 260px 1fr 240px;
  align-items: start;
  padding: 0 50px 82px 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway;
  box-sizing: border-box;
  margin-top: 180px;
}

.footer .address {
  justify-self: start;
  line-height: 24.3px;
  max-width: 240px;
  font-style: normal;
}

.footer .address a {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer .address p {
  margin: 0;
  line-height: 24.3px;
}

.footer__menu {
  justify-self: center;
  padding-top: 5px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  line-height: 1.2;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
